html, body {
	margin:0;
	padding: 0;
	height: 100vh;
	width: 100vw;

}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}
/*fechado .pokeball {
	display: flex;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(#f00000 0 47%, #222224 47% 53%, #f0f0f0 53% 100%);
	align-items: center;
	justify-content: center;
	position:relative;
	z-index: -1;
} */

/*fechado .big-dot {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: #f0f0f0;
	border: solid #222224 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -11;
	position:absolute;
	margin: auto;
}*/

.pokeball {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(#f00000 0 8%, #222224 8% 13%,#f0f0f0 13% 100%);
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: -999;
}

.big-dot {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: #f0f0f0;
	border: solid #222224 15px;
	display: flex;
	align-items: center;
	align-self: flex-start;
	justify-items: center;
	justify-content: center;
	z-index: -11;
	position:absolute;
	margin: 10px;
}

.small-dot {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #f0f0f0;
	border: solid #222224 6px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	margin-top: 80px;
}

.picture {
	display: flex;
	margin: auto;
	/* visibility: hidden; */
}

img {
	height: 300px;
	width: auto;
	/* margin: 20px; */
}




.arrow:hover {
	cursor: pointer;
}
.arrow {
	width: 50px;
	height: 50px;
	background: linear-gradient(#3bc1ec, 50%, #ecfa1f);
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.inner-arrow {
	width: 20px;
	height: 20px;
	background: #f0f0f0;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	position: fixed;
	margin: 8px;
}
.left {
	transform: rotate(270deg);
}

.right {
	transform: rotate(90deg);
}

p {
	max-width: 80%;
}