html {
	height: 100%;
}
body {
	display: flex;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(#f00000 0 47%, #222224 47% 53%, #f0f0f0 53% 100%);
	align-items: center;
	justify-content: center;
	position:relative;

}

.big-dot {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: #f0f0f0;
	border: solid #222224 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	position:absolute;
	margin: auto;
}

.small-dot {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #f0f0f0;
	border: solid #222224 6px;
}

.picture {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	position:absolute;
	margin: auto;
}

img {
	max-height: 500px;
	height: auto;
	width: auto;
}